*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    padding: 1rem;
    background-color: #599075;
}

main {
    /* Fallback layout for browsers that do not support grid - see https://caniuse.com/#search=grid */
    max-width: 500px;
    margin: 0 auto;
}

article {
    margin: 1rem 0;
}

/* CSS that applies to browsers that support grid */
@supports (display: grid) {

    /*MOBILE*/
    @media only screen and (max-width: 599px) {

        main {
            max-width: none;
            margin: 0;
        }

        article {
            margin: 0;
        }

    }

    /*TABLET & LAPTOP*/
    @media only screen and (min-width: 600px) {
        main {
            max-width: none;
            margin: 0;
        }

        article {
            margin: 0;
        }

        .productlist > section {
            display: grid;
            max-width: 1200px;
            margin: auto;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 60px;
            margin-bottom: 60px;
        }

    }
}


/* END @supports grid */

h1 {
    color: #fbfaf8;
    font-size: 2rem;
}

article {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: #fbfaf8;
}

.product-image {
    order: -1;
    align-self: stretch;
    border-radius: 1rem;
    max-width: 100%;
    height: 17rem;
    object-fit: cover;
}

/* has a default of stretched - we don't do that on images - remember: max-width: 100%; height: auto */

article > h2 {
    margin: 3rem 0 0.5rem 0;
    color: #153626;
    font-size: 1.5rem;
    text-align: center;
}

.productImage {
    width: 100%;
}

.tags > h3 {
    color: #0c1e15;
    font-weight: 400;
    font-size: 0.8rem;
}

.prices {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;
    margin: auto 0 1rem 0;
}

.price {
    color: #153626;
    margin: auto 0 1rem 0;
}

.cancelled {
    text-decoration: line-through;
    font-weight: 100;
}

.discount-price {
    margin: 0 1rem;
}

article > .short-description {
    margin: auto 1rem 1.5rem 1rem;
    color: #0c1e15;
    text-align: center;
    font-size: 0.9rem;
}

article > .long-description {
    margin: auto 1rem 1rem;
    color: #0c1e15;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;
    margin: auto 0 3rem 0;
}

.vegetarian {
    background-color: #dddfc4;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

.alcohol {
    background-color: #dddfc4;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

.allergens {
    background-color: #dddfc4;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

main {
    font-family: Avenir, Roboto, Helvetica, san-serif;
}

article > .buy {
    margin-top: auto;
    /* to push it to the bottom of the box & margin-top: auto takes the available space */
    margin-left: 1rem;
    margin-right: 1rem;
    background: #f6c03e;
    color: #fbfaf8;
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    align-self: stretch;
}

article > .read-more {
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    color: #f6c03e;
    padding: 0.5rem;
    border-style: solid;
    background-color: #fbfaf8;
    border-radius: 2rem;
    border-color: #f6c03e;
    font-size: 1.2rem;
    align-self: stretch;
}

.hide {
    display: none;
}

.soldout {
    order: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 6rem 0 0 0;
    border-radius: 1rem;
    background-color: rgba(21, 54, 38, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
    color: #fbfaf8;
    font-weight: 500;
}



/*
https://labs.jensimmons.com/2017/03-009.html
view-source:https://labs.jensimmons.com/2017/03-009.html
https://labs.jensimmons.com/2017/css/03-009.css
*/
