*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    --background-color: #fbfaf8;
    --accent-color: #f6ca6a;
    --main-color: #235a3f;
    --secondary-color: #dddfc4;
    --font-header-links: 'Avenir';
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
    font-family: Avenir, Roboto, Helvetica, san-serif;
}

main {
    /* Fallback layout for browsers that do not support grid - see https://caniuse.com/#search=grid */
    max-width: 500px;
    margin: 0 auto;
}

header {
    padding: 2rem 7rem;
    margin: 0;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
    align-items: center;
}

header nav a {
    margin: 0 0 0 3rem;
    color: var(--background-color);
    text-decoration: none;
}

.headertext {
    color: var(--background-color);
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-header-links);
    margin: 0;
}

.title {
    font-size: 2rem;
}


article {
    margin: 1rem 0;
}

/* CSS that applies to browsers that support grid */
@supports (display: grid) {

    /*MOBILE+TABLET*/
    @media only screen and (max-width: 799px) {

        main {
            max-width: none;
            margin: 0;
            margin: 0 1rem;
        }

        article {
            margin: 0;
        }

        header {
            margin: 0;
            padding: 1rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
                flex-wrap:wrap;
        }

        header nav {
            justify-content: center;
            align-content: space-around;
            flex-wrap: wrap;
        }

        header nav a {
            margin: 0.5rem;
        }

    }

    /*TABLET & LAPTOP*/
    @media only screen and (min-width: 800px) {
        main {
            max-width: none;
            margin: 0;
        }

        article {
            margin: 0;
        }

        .productlist > section {
            display: grid;
            max-width: 1200px;
            margin: auto;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 60px;
            margin-bottom: 60px;
            text-align: center;
        }

        .productlist > section > h1 {
            grid-column: 1/-1;
            margin-bottom: -30px;
            display: flex;
            justify-content: flex-start;
        }

    }
}


/* END @supports grid */


h1 {
    color: var(--main-color);
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 500;
}

.item {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: var(--background-color);
}

.productbody {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
}

.product-image {
    align-self: stretch;
    border-radius: 1rem;
    max-width: 100%;
    height: 20rem;
    object-fit: cover;
}

/* has a default of stretched - we don't do that on images - remember: max-width: 100%; height: auto */

article > h2 {
    margin: 3rem 0 0.5rem 0;
    color: var(--main-color);
    font-size: 1.5rem;
    text-align: center;
    order: 1;
}

.productImage {
    width: 100%;
}

.tags > h3 {
    color: #0c1e15;
    font-weight: 400;
    font-size: 0.8rem;
}

.prices {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    margin: auto 0 1rem 0;
}

.price {
    color: #153626;
    margin: auto 0 1rem 0;
}

.cancelled {
    text-decoration: line-through;
    font-weight: 100;
}

.discount-price {
    margin: 0 1rem;
}

article > .short-description {
    margin: auto 1rem 1.5rem 1rem;
    color: #0c1e15;
    text-align: center;
    font-size: 0.9rem;
}

article > .long-description {
    margin: auto 1rem 1rem;
    color: #0c1e15;
    text-align: center;
}

.tags {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: baseline;
    justify-content: center;
    margin: auto 0 3rem 0;
}

.vegetarian {
    background-color: var(--secondary-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

.alcohol {
    background-color: var(--secondary-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

.allergens {
    background-color: var(--secondary-color);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    margin: 0 0.3rem;
}

.buy {
    margin-top: auto;
    /* to push it to the bottom of the box & margin-top: auto takes the available space */
    width: 100%;

    background: var(--accent-color);
    color: var(--background-color);
    padding: 0.5rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.2rem;
    align-self: stretch;
}

.read-more {
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 100%;
    color: var(--accent-color);
    padding: 0.5rem;
    border-style: solid;
    background-color: var(--background-color);
    border-radius: 2rem;
    border-color: var(--accent-color);
    font-size: 1.2rem;
    align-self: stretch;
}

.hide {
    display: none;
}

.soldout {
    order: 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 6rem 0 0 0;
    border-radius: 1rem;
    background-color: rgba(21, 54, 38, 0.45);
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
    color: var(--background-color);
    font-weight: 500;
}

.modal-background {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.modal-content {
    width: 50%;
    height: 50%;
    background-color: var(--background-color);
    margin: 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*
https://labs.jensimmons.com/2017/03-009.html
view-source:https://labs.jensimmons.com/2017/03-009.html
https://labs.jensimmons.com/2017/css/03-009.css
*/
